
h1{
    text-align: center;
    font-family: helvetica;
    font-weight: bolder;
}

#background{
    background-image: url("/images/background.png");
    background-repeat: repeat;    
}
#main-header{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin:auto;
    padding: 10px;
    width:15%;

}
canvas{
    display: block;
    margin: auto;
    margin-top: 25px;
    background-color: white;
    cursor: url('/images/pen.png') 1 10, auto;
}
.container{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 10px;

}
#green{
    background-color: green;
    color: white;
}
#red{
    background-color: red;
    color:white;
}

#colors{
    padding-top: 0px;
}
#chat-box{
    display: flex;
    height: 500px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    background-color: #e8eded;
}
#chat-container{
    display: flex;
    flex-direction: column;

}
#chat-list{
    width: 100%;
    padding: 0px;
}